body{
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none !important;
}

.menu-button {
    margin: 1px;
    display: block;
    height: 10%;
    width: 50%;
    text-align: center;
    background-color: #ABBAEA;
    border: solid darkblue;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CFE2FF;
}
.header_container > a:hover{
    color: #fff;
}

.header__text {
    font-size: 50px;
    color: #fff;
}

.header_buttons {
    display: flex;
}

.plyta {
    border: solid darkblue 1px;
    padding: 1px;
    margin: 1px;
    background-color: antiquewhite;
}

.zamowienie {
    border: solid darkblue 1px;
    padding: 1px;
    margin: 1px;
    background-color: antiquewhite;
}

.order__button{
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-1px, -4px);
}