{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="header_container">
    <a class="header" href="/">
        Internetowy sklep muzyczny
    </a>
</div>
<div class="header_buttons">
    <a class="menu-button" href="{% url 'plyty' %}">Dostępne płyty</a>
    <a class="menu-button" href="{% url 'zamowienia' %}">Pokaż zamówienia</a>
</div>
<br>
{% block body %}
{% endblock %}
</body>
</html>

