{% extends "plyty/base.html" %}
{% load calculate_total_cart %}

{% block body %}
    <h1>Twuj koszyk XD</h1>
    <h2>{% if cart_disks %} Wartość koszyka: {% calculate_total_cart cart_disks.first.koszyk %}
    {% endif %}</h2>
    <br>
    <div>
        {% for cart_disk in cart_disks %}
            <div class="zamowienie">
                <h3>Tytuł: {{ cart_disk.plyta.tytul }}</h3>
                <h3>Cena: {{ cart_disk.plyta.cena }}</h3>
                <h3>Ilość: {{ cart_disk.ilosc }}
                    <a href={% url 'decrement_disk_in_cart' cart_disk.plyta.id %}>
                        <button>-</button>
                    </a>
                    <a href={% url 'increment_disk_in_cart' cart_disk.plyta.id %}>
                        <button>+</button>
                    </a>
                </h3>
                <h3>Wartość: {{ cart_disk.disks_cost }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}