{% extends "plyty/base.html" %}

{% block body %}
    <h1>Wszystkie dostępne płyty w ofercie</h1>
    <a href="{% url 'dodaj_plyte' %}">
        <button type="button">Dodaj płyte</button>
    </a>
    <div>
        {% for plyta in plyty %}
            <div class="plyta">
                <h3>Tytuł: {{ plyta.tytul }}</h3>
                <h3>Cena: {{ plyta.cena }}</h3>
                <p>Dostępna ilość: {{ plyta.dostepna_ilosc }}</p>
                <a href={% url 'edytuj_plyte' plyta.id %}>
                    <button type="button">Edytuj</button>
                </a>
                <br>
                <a href={% url 'dodaj_do_koszyka' plyta.id %}>
                    <button type="button">Dodaj do koszyka</button>
                </a>
            </div>
        {% endfor %}
    </div>
    {#    <script type="text/javascript">#}
    {#        {% if messages %}#}
    {#            #}
    {#        {% endif %}#}
    {#        let newProductInCart = {{ new_product_in_cart }};#}
    {#        if (newProductInCart) {#}
    {#            alert('Dodano produkt do koszyka');#}
    {#        }#}
    {#    </script>#}

{% endblock %}