{% extends "plyty/base.html" %}

{% block body %}
    <h1>Wszystkie dostępne płyty w ofercie</h1>
    <a href="{% url 'dodaj_plyte' %}">
        <button type="button">Dodaj płyte</button>
    </a>
    <div>
        {% for plyta in plyty %}
            <div class="plyta">
                <h3>Tytuł: {{ plyta.tytul }}</h3>
                <h3>Cena: {{ plyta.cena }}</h3>
                <p>Dostępna ilość: {{ plyta.dostepna_ilosc }}</p>
                <a href={% url 'edytuj_plyte' plyta.id %}>
                    <button type="button">Edytuj</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}