{% extends "disks/base.html" %}

{% block body %}
    <h1>
        {% if request.path == '/disks/add' %}Dodaj nową płytę {% else %} Edytuj - {% endif %}
        {% if request.path != '/disks/add' %}<small>{{ plyta.title }}</small>{% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" {% if request.path == '/disks/add' %} value="Dodaj" {% else %} value="Edytuj" {% endif %}/>
        <a href="{% url 'disks' %}">
            <button type="button">Wróć</button>
        </a>
    </form>
{% endblock %}