{% extends "disks/base.html" %}

{% block body %}
    <h1>Wszystkie dostępne płyty w ofercie</h1>
    {% if user.is_superuser %}
        <a href="{% url 'add_disk' %}">
            <button type="button">Dodaj płyte</button>
        </a>
    {% endif %}
    <div>
        {% for disk in disks %}
            <div class="plyta">
                <h3>Tytuł: {{ disk.title }}</h3>
                <h3>Cena: {{ disk.price }}</h3>
                <p>Dostępna ilość: {{ disk.quantity }}</p>
                {% if user.is_superuser %}
                    <a href={% url 'edit_disk' disk.id %}>
                        <button type="button">Edytuj</button>
                    </a>
                {% endif %}
                <br>
                {% if user.is_authenticated %}
                    <a href={% url 'add_to_cart' disk.id %}>
                        <button type="button">Dodaj do koszyka</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}